In [3]:
import pandas as pd
import numpy as np
import numba as nb
import warnings
warnings.filterwarnings('ignore')

from tqdm.notebook import tqdm

This dataset is about purchases in a online shop, user_session will be different if a user takes a rest and come back after a while, which means 1 order session/user_id may have different user_sessions. 

Event_type including view, cart, remove from cart and purchase. Each product presents one event, so if one order has multiple products, it will have multiple purchase events at same time

Category code and brand are not fully recorded. Present for meaningful categories and skipped for different kinds of accessories. So the missing parts won't be dropped out.

In [4]:
df=pd.read_csv('2019-Dec.csv')
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5
...,...,...,...,...,...,...,...,...,...
3533281,2019-12-31 23:59:39 UTC,view,5683350,1487580005671109489,NaN,masura,2.84,536812729,e4a2d47c-a956-4c46-8176-745f52ea664b
3533282,2019-12-31 23:59:46 UTC,view,5888097,1487580013388628160,NaN,shik,179.05,503658154,2dde9867-9e71-4a64-880d-aa68b66aae6d
3533283,2019-12-31 23:59:51 UTC,view,59975,1487580012096782476,NaN,NaN,7.14,595414541,4c6d80bb-5dd3-4fbb-b592-187b51db2753
3533284,2019-12-31 23:59:52 UTC,view,5775982,1783999063314661546,NaN,NaN,11.90,397780878,7e8a2b85-153a-44eb-a71f-b748fde14fcc
3533285,2019-12-31 23:59:57 UTC,view,5635090,1487580005754995573,NaN,NaN,4.44,420652863,546f6af3-a517-4752-a98b-80c4c5860711

Check all columns and drop those rows with neg prices

In [5]:
df['category_code'].value_counts(dropna=False)

NaN                                       3474821
appliances.environment.vacuum               25818
stationery.cartrige                          9500
apparel.glove                                8295
accessories.bag                              4938
furniture.living_room.cabinet                4478
furniture.bathroom.bath                      3529
appliances.personal.hair_cutter              1102
accessories.cosmetic_bag                      693
appliances.environment.air_conditioner         92
furniture.living_room.chair                    20
Name: category_code, dtype: int64

In [6]:
df['event_type'].value_counts(dropna=False)

view                1728331
cart                 927124
remove_from_cart     664655
purchase             213176
Name: event_type, dtype: int64

In [7]:
df['user_id'].value_counts(dropna=False)

527021202    8689
572631412    3883
467810091    3147
548810441    2426
584289031    2356
             ...
586739138       1
590937536       1
594889500       1
578079532       1
529467934       1
Name: user_id, Length: 370154, dtype: int64

In [8]:
df['brand'].value_counts(dropna=False)

NaN          1510289
runail        256217
grattol       155920
irisk         152518
masura        125185
              ...
ikoo               3
macadamia          1
ibd                1
shifei             1
dessata            1
Name: brand, Length: 253, dtype: int64

In [9]:
df['price'].value_counts(dropna=False,bins=10)

(2.06, 42.775]        2517173
(-38.655, 2.06]        873690
(42.775, 83.49]         96951
(83.49, 124.205]        22346
(124.205, 164.92]        9873
(164.92, 205.635]        8351
(287.065, 327.78]        1972
(205.635, 246.35]        1727
(246.35, 287.065]        1197
(-79.778, -38.655]          6
Name: price, dtype: int64

In [10]:
df['user_session'].value_counts(dropna=False)

d53d1c2e-9195-6051-cf7b-7332dfeae818    1393
4f70385c-0169-476f-aa1e-5dc8937817ab    1336
08868af8-a0ec-4fcf-ae7f-1aab30d0084b    1270
1ea0524e-3745-430b-8fca-fbd3f552e816    1050
a062f07b-4eef-4266-8660-b3040ed412aa     940
                                        ...
0b739922-ff43-4b8c-b5cb-6d389ff8b49a       1
c349c990-1e40-4984-b544-b3d850e4c6ee       1
dcabc247-79a5-448f-aab4-e3e071e8653f       1
93392e8e-b5e2-4c1a-ab96-a2758051b0bf       1
226bc916-dd42-4016-8ef7-540738a57f86       1
Name: user_session, Length: 839813, dtype: int64

In [11]:
df[(df['price']<0)]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
693061,2019-12-06 08:44:06 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,410016187,2414f145-f7fa-473f-9d74-41e5694178a0
942049,2019-12-08 12:38:35 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,579811230,001d3051-07af-1cef-f5e4-10443d9742b9
1633142,2019-12-13 08:44:49 UTC,purchase,5716859,1487580014042939619,NaN,NaN,-47.62,414087247,6617078d-899a-4b89-8538-b70e505bff38
1667368,2019-12-13 13:48:10 UTC,purchase,5716857,1487580014042939619,NaN,NaN,-23.81,584773479,a3f156d9-b7fc-444d-8899-920715cca75d
2143701,2019-12-17 10:37:03 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,584498077,ecbf0f7c-3c10-42e8-9af6-1397b5428afa
2143702,2019-12-17 10:37:03 UTC,purchase,5716855,1487580014042939619,NaN,NaN,-7.94,584498077,ecbf0f7c-3c10-42e8-9af6-1397b5428afa
2164651,2019-12-17 13:31:01 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,513455730,efd60b1a-f616-4f48-a5d2-1a1ab0bd61e1
2548146,2019-12-20 17:56:16 UTC,purchase,5716859,1487580014042939619,NaN,NaN,-47.62,589538798,094f5f94-e7d2-4d05-a722-dbc2015c0351
2754627,2019-12-22 19:31:01 UTC,purchase,5716859,1487580014042939619,NaN,NaN,-47.62,590958276,42953b86-32c5-4861-8760-e9c2cd35a609
3053899,2019-12-25 13:01:21 UTC,purchase,5716861,1487580014042939619,NaN,NaN,-79.37,489184067,af1b35db-1024-495e-8c42-b959491ba136
3098833,2019-12-25 20:37:02 UTC,purchase,5716857,1487580014042939619,NaN,NaN,-23.81,592544594,3ffbc078-7722-48b8-91ec-ecf6cac5b1ce
3220372,2019-12-27 08:34:06 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,588438828,0ac59395-6819-49c6-9750-598d45cd71a0
3220373,2019-12-27 08:34:06 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,588438828,0ac59395-6819-49c6-9750-598d45cd71a0
3295546,2019-12-28 07:32:52 UTC,purchase,5716859,1487580014042939619,NaN,NaN,-47.62,545859098,013568f6-b7de-4f28-b4e3-e3206527c700
3295882,2019-12-28 07:39:08 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,410016187,55e52759-6ece-4573-b0ae-58031283209e
3328682,2019-12-28 15:42:00 UTC,purchase,5716855,1487580014042939619,NaN,NaN,-7.94,539714006,e1d8e3b7-1309-475b-aaaa-4a12ac841c3e
3403149,2019-12-29 14:30:17 UTC,purchase,5716861,1487580014042939619,NaN,NaN,-79.37,489118334,da505a6f-d98d-4284-84ba-cc1873f5f8ad
3418052,2019-12-29 17:49:32 UTC,purchase,5670257,1487580014042939619,NaN,NaN,-15.87,594077054,bf35396d-126d-4d6f-9f80-cd2eb0dd8a06

In [12]:
df=df.drop(df[df.price<0].index)

In [13]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5
...,...,...,...,...,...,...,...,...,...
3533281,2019-12-31 23:59:39 UTC,view,5683350,1487580005671109489,NaN,masura,2.84,536812729,e4a2d47c-a956-4c46-8176-745f52ea664b
3533282,2019-12-31 23:59:46 UTC,view,5888097,1487580013388628160,NaN,shik,179.05,503658154,2dde9867-9e71-4a64-880d-aa68b66aae6d
3533283,2019-12-31 23:59:51 UTC,view,59975,1487580012096782476,NaN,NaN,7.14,595414541,4c6d80bb-5dd3-4fbb-b592-187b51db2753
3533284,2019-12-31 23:59:52 UTC,view,5775982,1783999063314661546,NaN,NaN,11.90,397780878,7e8a2b85-153a-44eb-a71f-b748fde14fcc
3533285,2019-12-31 23:59:57 UTC,view,5635090,1487580005754995573,NaN,NaN,4.44,420652863,546f6af3-a517-4752-a98b-80c4c5860711

Take a smaple with 50k rows. First clean the event_time with right time frame, then groupby sessions with purchase event only and canculate time difference, so that we can know how long one purchase session takes.

In [14]:
sample=df.loc[:50000,:]
sample

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5
...,...,...,...,...,...,...,...,...,...
49996,2019-12-01 12:26:05 UTC,remove_from_cart,5820728,1487580006317032337,NaN,NaN,2.22,580187026,d1ac0aa1-0604-4022-89c5-213e75215f4a
49997,2019-12-01 12:26:05 UTC,view,5802651,1487580005754995573,NaN,NaN,3.89,573545424,9402c32f-c637-4405-a270-132cd95483d9
49998,2019-12-01 12:26:05 UTC,view,5694897,1487580009076883471,NaN,NaN,1.27,580244225,cc6baeb2-601c-4e0e-9536-e6c1fc818e97
49999,2019-12-01 12:26:06 UTC,cart,5814841,1487580005134238553,NaN,runail,2.38,544849588,a934334c-03fb-478a-b678-579fdaed07ab
50000,2019-12-01 12:26:06 UTC,cart,5811647,1487580005427839846,NaN,irisk,2.48,580176369,3e59c435-d1ee-b22b-d48a-aec66e060980

Convert time to other information: month, day, daytime

In [15]:
pd.to_datetime(sample['event_time'],format='%Y-%m-%d %H:%M:%S',errors='ignore')

0        2019-12-01 00:00:00 UTC
1        2019-12-01 00:00:00 UTC
2        2019-12-01 00:00:02 UTC
3        2019-12-01 00:00:05 UTC
4        2019-12-01 00:00:07 UTC
                  ...
49996    2019-12-01 12:26:05 UTC
49997    2019-12-01 12:26:05 UTC
49998    2019-12-01 12:26:05 UTC
49999    2019-12-01 12:26:06 UTC
50000    2019-12-01 12:26:06 UTC
Name: event_time, Length: 50001, dtype: object

In [16]:
sample['time']=pd.DataFrame(sample['event_time'].str.split('UTC').str[0])

In [17]:
sample['time']=pd.to_datetime(sample['time'],format='%Y-%m-%d %H:%M:%S',errors='ignore')

In [18]:
sample['month']=sample['time'].dt.month
sample['day']=sample['time'].dt.day
sample['hour']=sample['time'].dt.hour

In [19]:
sample

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,time,month,day,hour
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc,2019-12-01 00:00:00,12,1,0
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18,2019-12-01 00:00:00,12,1,0
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554,2019-12-01 00:00:02,12,1,0
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4,2019-12-01 00:00:05,12,1,0
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5,2019-12-01 00:00:07,12,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,2019-12-01 12:26:05 UTC,remove_from_cart,5820728,1487580006317032337,NaN,NaN,2.22,580187026,d1ac0aa1-0604-4022-89c5-213e75215f4a,2019-12-01 12:26:05,12,1,12
49997,2019-12-01 12:26:05 UTC,view,5802651,1487580005754995573,NaN,NaN,3.89,573545424,9402c32f-c637-4405-a270-132cd95483d9,2019-12-01 12:26:05,12,1,12
49998,2019-12-01 12:26:05 UTC,view,5694897,1487580009076883471,NaN,NaN,1.27,580244225,cc6baeb2-601c-4e0e-9536-e6c1fc818e97,2019-12-01 12:26:05,12,1,12
49999,2019-12-01 12:26:06 UTC,cart,5814841,1487580005134238553,NaN,runail,2.38,544849588,a934334c-03fb-478a-b678-579fdaed07ab,2019-12-01 12:26:06,12,1,12
50000,2019-12-01 12:26:06 UTC,cart,5811647,1487580005427839846,NaN,irisk,2.48,580176369,3e59c435-d1ee-b22b-d48a-aec66e060980,2019-12-01 12:26:06,12,1,12

In [20]:
sample=sample.drop(columns='event_time')

Because in price column, it recodes price for all different events. To select prices from the products only been purchased, use the last_event=purchase as condition. Same for number of products in one order

In [21]:
sample['max_time']=sample['time']
sample['last_event']=sample['event_type']

In [22]:
sample['amount']=np.where(sample['last_event']=='purchase',sample['price'],0)

In [23]:
sample['nr_product']=np.where(sample['last_event']=='purchase',1,0)
sample

,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,time,month,day,hour,max_time,last_event,amount,nr_product
0,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc,2019-12-01 00:00:00,12,1,0,2019-12-01 00:00:00,remove_from_cart,0.0,0
1,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18,2019-12-01 00:00:00,12,1,0,2019-12-01 00:00:00,view,0.0,0
2,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554,2019-12-01 00:00:02,12,1,0,2019-12-01 00:00:02,cart,0.0,0
3,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4,2019-12-01 00:00:05,12,1,0,2019-12-01 00:00:05,view,0.0,0
4,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5,2019-12-01 00:00:07,12,1,0,2019-12-01 00:00:07,view,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,remove_from_cart,5820728,1487580006317032337,NaN,NaN,2.22,580187026,d1ac0aa1-0604-4022-89c5-213e75215f4a,2019-12-01 12:26:05,12,1,12,2019-12-01 12:26:05,remove_from_cart,0.0,0
49997,view,5802651,1487580005754995573,NaN,NaN,3.89,573545424,9402c32f-c637-4405-a270-132cd95483d9,2019-12-01 12:26:05,12,1,12,2019-12-01 12:26:05,view,0.0,0
49998,view,5694897,1487580009076883471,NaN,NaN,1.27,580244225,cc6baeb2-601c-4e0e-9536-e6c1fc818e97,2019-12-01 12:26:05,12,1,12,2019-12-01 12:26:05,view,0.0,0
49999,cart,5814841,1487580005134238553,NaN,runail,2.38,544849588,a934334c-03fb-478a-b678-579fdaed07ab,2019-12-01 12:26:06,12,1,12,2019-12-01 12:26:06,cart,0.0,0
50000,cart,5811647,1487580005427839846,NaN,irisk,2.48,580176369,3e59c435-d1ee-b22b-d48a-aec66e060980,2019-12-01 12:26:06,12,1,12,2019-12-01 12:26:06,cart,0.0,0

Group user id and session id to tell how many sessions been made by each user, with the starting time and finishing time.

In [24]:
sample_group_user=sample.groupby((['user_id','user_session']),as_index=False).agg({'time':'min',
                                                                                   'max_time':'max','amount':'sum',
                                                                                   'nr_product':'sum','event_type':'first',
                                                                                   'month':'first','day':'first',
                                                                                   'hour':'first','last_event':'last'})
sample_group_user['rank']=sample_group_user['time'].groupby(sample_group_user['user_id']).rank(ascending=1,method='dense')

In [25]:
sample_group_user

,user_id,user_session,time,max_time,amount,nr_product,event_type,month,day,hour,last_event,rank
0,31926511,3e97a9d0-2ef7-41e7-951c-f8522b4973be,2019-12-01 10:41:16,2019-12-01 10:41:23,0.0,0,remove_from_cart,12,1,10,view,1.0
1,31926511,a0ba0697-cb60-45b7-ae91-6b6784b30d32,2019-12-01 10:44:46,2019-12-01 10:50:35,0.0,0,view,12,1,10,view,2.0
2,48182054,07ed37dd-be3c-492b-bf31-8b7c3979bd4e,2019-12-01 10:14:20,2019-12-01 10:14:20,0.0,0,view,12,1,10,view,3.0
3,48182054,4bc81430-a486-466f-8bc6-738b1abf79f8,2019-12-01 09:39:41,2019-12-01 10:13:16,0.0,0,view,12,1,9,view,1.0
4,48182054,a8f715d0-a343-4564-a0f3-5531d88b58f7,2019-12-01 09:47:52,2019-12-01 09:47:52,0.0,0,view,12,1,9,view,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
12345,580243638,d6fd2440-9af4-42af-a8c0-3b0427acc3b7,2019-12-01 12:25:40,2019-12-01 12:25:40,0.0,0,view,12,1,12,view,1.0
12346,580243874,4ce5cbb7-ebd2-4f63-b8f4-41fa2ea2c0f9,2019-12-01 12:25:19,2019-12-01 12:25:19,0.0,0,view,12,1,12,view,1.0
12347,580243907,a2e3efc3-7a29-43b9-9616-645b0142fa9d,2019-12-01 12:25:23,2019-12-01 12:25:23,0.0,0,view,12,1,12,view,1.0
12348,580244189,7c0b1106-ca7b-456d-9892-c26fce4b079d,2019-12-01 12:26:00,2019-12-01 12:26:00,0.0,0,view,12,1,12,view,1.0
12349,580244225,cc6baeb2-601c-4e0e-9536-e6c1fc818e97,2019-12-01 12:26:05,2019-12-01 12:26:05,0.0,0,view,12,1,12,view,1.0

In [26]:
sample_group_user['time_diff']=(pd.to_datetime(sample_group_user['max_time'])-pd.to_datetime(sample_group_user['time'])).apply(lambda x: x.total_seconds())
sample_group_user

,user_id,user_session,time,max_time,amount,nr_product,event_type,month,day,hour,last_event,rank,time_diff
0,31926511,3e97a9d0-2ef7-41e7-951c-f8522b4973be,2019-12-01 10:41:16,2019-12-01 10:41:23,0.0,0,remove_from_cart,12,1,10,view,1.0,7.0
1,31926511,a0ba0697-cb60-45b7-ae91-6b6784b30d32,2019-12-01 10:44:46,2019-12-01 10:50:35,0.0,0,view,12,1,10,view,2.0,349.0
2,48182054,07ed37dd-be3c-492b-bf31-8b7c3979bd4e,2019-12-01 10:14:20,2019-12-01 10:14:20,0.0,0,view,12,1,10,view,3.0,0.0
3,48182054,4bc81430-a486-466f-8bc6-738b1abf79f8,2019-12-01 09:39:41,2019-12-01 10:13:16,0.0,0,view,12,1,9,view,1.0,2015.0
4,48182054,a8f715d0-a343-4564-a0f3-5531d88b58f7,2019-12-01 09:47:52,2019-12-01 09:47:52,0.0,0,view,12,1,9,view,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12345,580243638,d6fd2440-9af4-42af-a8c0-3b0427acc3b7,2019-12-01 12:25:40,2019-12-01 12:25:40,0.0,0,view,12,1,12,view,1.0,0.0
12346,580243874,4ce5cbb7-ebd2-4f63-b8f4-41fa2ea2c0f9,2019-12-01 12:25:19,2019-12-01 12:25:19,0.0,0,view,12,1,12,view,1.0,0.0
12347,580243907,a2e3efc3-7a29-43b9-9616-645b0142fa9d,2019-12-01 12:25:23,2019-12-01 12:25:23,0.0,0,view,12,1,12,view,1.0,0.0
12348,580244189,7c0b1106-ca7b-456d-9892-c26fce4b079d,2019-12-01 12:26:00,2019-12-01 12:26:00,0.0,0,view,12,1,12,view,1.0,0.0
12349,580244225,cc6baeb2-601c-4e0e-9536-e6c1fc818e97,2019-12-01 12:26:05,2019-12-01 12:26:05,0.0,0,view,12,1,12,view,1.0,0.0

In [27]:
sample_group_user[sample_group_user['user_id']==473613801]

,user_id,user_session,time,max_time,amount,nr_product,event_type,month,day,hour,last_event,rank,time_diff
1890,473613801,d1e90c6a-c030-4d06-aaaf-6d12ec502bb9,2019-12-01 00:09:55,2019-12-01 00:17:50,19.18,25,cart,12,1,0,purchase,1.0,475.0

In [28]:
order_session_dict=sample_group_user['user_id'].value_counts().to_dict()
order_session_dict

{527021202: 662,
 476577170: 306,
 576802932: 289,
 579733537: 88,
 487506891: 83,
 579179073: 74,
 577896990: 71,
 557616099: 66,
 534143009: 63,
 231412385: 54,
 576648112: 46,
 570477322: 43,
 534779173: 38,
 580143586: 37,
 574032814: 37,
 551195949: 35,
 552408840: 33,
 576872422: 33,
 470598515: 31,
 556730134: 24,
 574478482: 23,
 423200429: 23,
 509211181: 23,
 269904158: 22,
 580167541: 22,
 580056441: 21,
 571987866: 21,
 567890777: 20,
 503730648: 19,
 579183835: 18,
 577872267: 18,
 574974492: 17,
 504266205: 17,
 579982297: 17,
 455300469: 17,
 306976352: 16,
 560735538: 16,
 558093005: 15,
 580154910: 15,
 509647314: 14,
 574710774: 14,
 579928580: 14,
 568841081: 14,
 331850715: 13,
 572268713: 13,
 461862371: 13,
 559553156: 13,
 532955590: 12,
 417812786: 12,
 578857321: 12,
 509118747: 12,
 580222011: 12,
 570823513: 12,
 251717161: 12,
 557713455: 11,
 575646009: 11,
 580049124: 11,
 399967334: 11,
 522537939: 10,
 547167413: 10,
 568407203: 10,
 532763617: 10,
 545692512: 10,
 578321009: 10,
 580001320: 10,
 511080767: 10,
 558405811: 10,
 483642518: 10,
 580074672: 10,
 544481441: 10,
 580161674: 9,
 577697009: 9,
 580176369: 9,
 539700458: 9,
 536575089: 8,
 559874736: 8,
 541224807: 8,
 574315623: 8,
 521900881: 8,
 580161835: 8,
 545815856: 8,
 432826005: 8,
 534305618: 8,
 306688335: 8,
 534147472: 8,
 408499887: 7,
 580227554: 7,
 550028879: 7,
 523351759: 7,
 580211202: 7,
 446734422: 7,
 545740268: 7,
 580202693: 7,
 521630564: 7,
 579991254: 7,
 576624722: 7,
 557237463: 7,
 563632047: 7,
 576412398: 7,
 573619454: 7,
 538742531: 7,
 580190389: 7,
 579164367: 7,
 510210192: 7,
 440229700: 7,
 559358194: 7,
 580127566: 7,
 570888222: 7,
 528802387: 7,
 579971318: 7,
 578000570: 7,
 428827509: 7,
 564830968: 7,
 578448079: 6,
 579613599: 6,
 575224356: 6,
 579001974: 6,
 580238555: 6,
 569444218: 6,
 580111923: 6,
 580114847: 6,
 580127205: 6,
 579972058: 6,
 414477093: 6,
 578722902: 6,
 580078297: 6,
 418343737: 6,
 580213747: 6,
 580206959: 6,
 580038433: 6,
 540769140: 6,
 556128778: 6,
 573344409: 6,
 580109089: 6,
 548400513: 6,
 153710502: 6,
 551331613: 6,
 536454521: 6,
 562224271: 5,
 576083207: 5,
 536971966: 5,
 543147183: 5,
 568755469: 5,
 480247350: 5,
 537202931: 5,
 580005034: 5,
 574398512: 5,
 534787748: 5,
 474814766: 5,
 580214417: 5,
 466693089: 5,
 531061925: 5,
 569545973: 5,
 574946765: 5,
 568184073: 5,
 580159164: 5,
 580220564: 5,
 580135064: 5,
 501159917: 5,
 565745379: 5,
 538731043: 5,
 541884447: 5,
 580194105: 5,
 579664496: 5,
 541850076: 5,
 580010781: 5,
 580148045: 5,
 580131202: 5,
 452160019: 5,
 570650823: 5,
 536715752: 5,
 422342715: 5,
 546461370: 5,
 570546338: 5,
 579529629: 5,
 511151466: 5,
 575314061: 5,
 572630905: 5,
 545853984: 5,
 452349573: 5,
 580136356: 5,
 580179460: 5,
 539485278: 5,
 464426918: 5,
 461824461: 5,
 538575483: 5,
 580169126: 5,
 412120092: 5,
 580124443: 5,
 577621639: 5,
 531593120: 5,
 580193366: 5,
 567583604: 5,
 443041658: 5,
 557014803: 5,
 376088859: 5,
 557769540: 5,
 580164775: 5,
 580208458: 5,
 562215508: 5,
 497025755: 5,
 555960737: 5,
 580163391: 5,
 412735076: 5,
 580191708: 4,
 580169793: 4,
 576987982: 4,
 548505243: 4,
 570090326: 4,
 370014363: 4,
 507749157: 4,
 521551469: 4,
 552903610: 4,
 413003398: 4,
 563916907: 4,
 563714017: 4,
 580111146: 4,
 466274712: 4,
 531338458: 4,
 302272099: 4,
 565791530: 4,
 580082991: 4,
 580134787: 4,
 420939132: 4,
 580153650: 4,
 563617583: 4,
 565461694: 4,
 565717811: 4,
 572985455: 4,
 470320412: 4,
 580092412: 4,
 377153707: 4,
 572222463: 4,
 480044865: 4,
 572964414: 4,
 414366137: 4,
 579916853: 4,
 417000473: 4,
 485440188: 4,
 502825457: 4,
 548778991: 4,
 558332166: 4,
 449468265: 4,
 532316188: 4,
 508843109: 4,
 557381050: 4,
 579723038: 4,
 574616690: 4,
 453313426: 4,
 494874384: 4,
 567186696: 4,
 460679404: 4,
 560903763: 4,
 571464940: 4,
 556969206: 4,
 580206757: 4,
 506154254: 4,
 355846910: 4,
 374867861: 4,
 405248820: 4,
 478874654: 4,
 580019087: 4,
 398925528: 4,
 564322877: 4,
 579441932: 4,
 566667766: 4,
 580078806: 4,
 567458180: 4,
 524336810: 4,
 579614811: 4,
 483213976: 4,
 580048593: 4,
 580098903: 4,
 573456573: 4,
 580036429: 4,
 580177772: 4,
 579649302: 4,
 528316781: 4,
 386587840: 4,
 550511136: 4,
 569610073: 4,
 557516335: 4,
 577473450: 4,
 569952595: 4,
 473705056: 4,
 546500435: 4,
 478582215: 4,
 580230100: 4,
 467959267: 4,
 571861416: 4,
 566366147: 4,
 361026359: 4,
 403343899: 4,
 463540608: 4,
 577595163: 4,
 525801761: 4,
 572964799: 4,
 580085634: 4,
 434682133: 4,
 521402899: 4,
 557147986: 4,
 472040887: 4,
 437901494: 4,
 513094710: 4,
 575969739: 4,
 570281530: 4,
 580142543: 4,
 580061356: 4,
 572153302: 4,
 555255282: 3,
 411166420: 3,
 580112630: 3,
 536450614: 3,
 510305093: 3,
 48182054: 3,
 402800020: 3,
 580026195: 3,
 580143749: 3,
 495475094: 3,
 553110930: 3,
 539262914: 3,
 555562373: 3,
 566539485: 3,
 542743207: 3,
 580056828: 3,
 527732676: 3,
 579394614: 3,
 549181660: 3,
 521821140: 3,
 580167548: 3,
 579681453: 3,
 580166414: 3,
 571126308: 3,
 526392634: 3,
 534195224: 3,
 552484230: 3,
 466273576: 3,
 577754914: 3,
 574662560: 3,
 320615109: 3,
 365926551: 3,
 430895239: 3,
 561588289: 3,
 377998010: 3,
 462895926: 3,
 406317201: 3,
 481952624: 3,
 476614565: 3,
 565918833: 3,
 537210918: 3,
 544371157: 3,
 580192644: 3,
 559563710: 3,
 569569550: 3,
 419895888: 3,
 491412598: 3,
 579694170: 3,
 467829365: 3,
 580131663: 3,
 567962381: 3,
 564394468: 3,
 446932999: 3,
 478195092: 3,
 541992972: 3,
 565622380: 3,
 579580383: 3,
 490107529: 3,
 565658264: 3,
 580017074: 3,
 580096476: 3,
 508017991: 3,
 580025231: 3,
 580165790: 3,
 433810486: 3,
 424271801: 3,
 524614819: 3,
 580201356: 3,
 478444490: 3,
 579405655: 3,
 580158163: 3,
 568670693: 3,
 561063874: 3,
 440200200: 3,
 481643762: 3,
 545923981: 3,
 243644034: 3,
 550783925: 3,
 551119191: 3,
 562589786: 3,
 566457406: 3,
 578743439: 3,
 576427944: 3,
 413372688: 3,
 543440411: 3,
 471269200: 3,
 466742465: 3,
 533171725: 3,
 580166532: 3,
 525155526: 3,
 579204125: 3,
 531002831: 3,
 580150045: 3,
 430318653: 3,
 580001287: 3,
 580134233: 3,
 576414502: 3,
 428096951: 3,
 457916910: 3,
 580129542: 3,
 379444781: 3,
 540411843: 3,
 526984099: 3,
 579971563: 3,
 571709553: 3,
 571079717: 3,
 416422673: 3,
 502705507: 3,
 578887730: 3,
 577896203: 3,
 578855258: 3,
 153316955: 3,
 580230448: 3,
 562181947: 3,
 580003957: 3,
 427767108: 3,
 569066442: 3,
 438304489: 3,
 580161890: 3,
 569593049: 3,
 407389821: 3,
 580104442: 3,
 580141689: 3,
 580068255: 3,
 579598394: 3,
 471315090: 3,
 563336932: 3,
 577431266: 3,
 577174436: 3,
 580206443: 3,
 542222711: 3,
 291112600: 3,
 413975238: 3,
 566060751: 3,
 531379381: 3,
 405014870: 3,
 580181233: 3,
 580065336: 3,
 579657777: 3,
 567901292: 3,
 580201077: 3,
 576171435: 3,
 537005438: 3,
 576069221: 3,
 580198093: 3,
 463738437: 3,
 459549348: 3,
 428240732: 3,
 580146807: 3,
 580047208: 3,
 489997791: 3,
 459377142: 3,
 505647251: 3,
 580083323: 3,
 580116031: 3,
 580161962: 3,
 567205816: 3,
 411465024: 3,
 418931100: 3,
 528539896: 3,
 419401015: 3,
 573538815: 3,
 579190072: 3,
 542329358: 3,
 579717946: 3,
 534281756: 3,
 579604052: 3,
 445669783: 3,
 580158472: 3,
 579363554: 3,
 446525091: 3,
 580088763: 3,
 551979418: 3,
 538799956: 3,
 456210080: 3,
 431790961: 3,
 310579523: 3,
 580177135: 3,
 380213891: 3,
 580118004: 3,
 550086076: 3,
 384680524: 3,
 526211967: 3,
 573397313: 3,
 580204446: 3,
 571123479: 3,
 580175410: 3,
 391126231: 3,
 574963753: 3,
 580162859: 3,
 549865699: 3,
 580209353: 3,
 580189722: 3,
 543418669: 3,
 534790842: 3,
 580134234: 3,
 579261903: 3,
 411115153: 3,
 580106666: 3,
 513828797: 3,
 580127993: 3,
 577625180: 3,
 462510014: 3,
 580063168: 3,
 360123572: 3,
 580168487: 3,
 537100098: 3,
 476613717: 3,
 442127999: 3,
 544032824: 3,
 560117558: 3,
 536525855: 3,
 519025210: 3,
 580187026: 3,
 510730853: 3,
 524280384: 3,
 574956479: 3,
 580094465: 3,
 580176234: 3,
 531576417: 3,
 430768300: 3,
 400948515: 3,
 537197314: 3,
 580165039: 3,
 570221770: 3,
 579977509: 3,
 485456195: 3,
 407635181: 3,
 539842566: 3,
 403325248: 3,
 553937500: 3,
 534817740: 3,
 548228624: 3,
 425240327: 3,
 531900924: 3,
 580096555: 2,
 558198376: 2,
 580159715: 2,
 559609340: 2,
 570315502: 2,
 580150512: 2,
 475723910: 2,
 575961589: 2,
 475797424: 2,
 502942288: 2,
 490765121: 2,
 580148233: 2,
 580223806: 2,
 580173866: 2,
 504582870: 2,
 526497244: 2,
 317803221: 2,
 242775338: 2,
 549465559: 2,
 534864641: 2,
 580225664: 2,
 565846736: 2,
 331537873: 2,
 539369197: 2,
 575574788: 2,
 552102659: 2,
 491854669: 2,
 502602455: 2,
 580069867: 2,
 569827443: 2,
 540703467: 2,
 580095663: 2,
 540190596: 2,
 573883066: 2,
 553507701: 2,
 580091775: 2,
 541768561: 2,
 580078861: 2,
 566360654: 2,
 403044032: 2,
 580156615: 2,
 580161393: 2,
 515453792: 2,
 580242271: 2,
 434494961: 2,
 499259978: 2,
 580175869: 2,
 530113336: 2,
 577097625: 2,
 343081297: 2,
 541560628: 2,
 538638020: 2,
 580062915: 2,
 476801937: 2,
 532422909: 2,
 552306474: 2,
 521211691: 2,
 580050141: 2,
 580202235: 2,
 580223884: 2,
 572081598: 2,
 559755327: 2,
 577526042: 2,
 558341317: 2,
 565824703: 2,
 551447433: 2,
 491745335: 2,
 509449396: 2,
 546188353: 2,
 515475266: 2,
 580232772: 2,
 471004820: 2,
 436345927: 2,
 576208517: 2,
 472758951: 2,
 580133969: 2,
 580189899: 2,
 231056392: 2,
 549498275: 2,
 507385946: 2,
 502054281: 2,
 436532592: 2,
 504142775: 2,
 575352147: 2,
 580093690: 2,
 423665401: 2,
 580173573: 2,
 538394745: 2,
 395486120: 2,
 580225307: 2,
 580181381: 2,
 580045781: 2,
 500987620: 2,
 580136671: 2,
 580164441: 2,
 558390669: 2,
 544379067: 2,
 580100293: 2,
 580048276: 2,
 569175790: 2,
 497621991: 2,
 498215012: 2,
 575559991: 2,
 555255586: 2,
 580217753: 2,
 557045148: 2,
 576168608: 2,
 300660750: 2,
 580073814: 2,
 497720841: 2,
 506775154: 2,
 508898473: 2,
 463820380: 2,
 492050362: 2,
 176862208: 2,
 509801234: 2,
 571133543: 2,
 580221390: 2,
 579069224: 2,
 434880985: 2,
 579428829: 2,
 560460978: 2,
 304809590: 2,
 404214756: 2,
 580148861: 2,
 527864796: 2,
 572124361: 2,
 580094927: 2,
 580189833: 2,
 546996133: 2,
 580107362: 2,
 533649320: 2,
 440169392: 2,
 386705924: 2,
 578421990: 2,
 573529311: 2,
 504993436: 2,
 524374940: 2,
 580188928: 2,
 453887546: 2,
 576126525: 2,
 373934909: 2,
 580009821: 2,
 571716503: 2,
 528525668: 2,
 536051209: 2,
 556579890: 2,
 580090214: 2,
 553483793: 2,
 580190569: 2,
 579075645: 2,
 453831763: 2,
 580185619: 2,
 568782703: 2,
 576076931: 2,
 580236868: 2,
 580158534: 2,
 550525870: 2,
 580169688: 2,
 491451944: 2,
 519804286: 2,
 565568570: 2,
 516614961: 2,
 580179304: 2,
 547729295: 2,
 430650964: 2,
 501711265: 2,
 566387117: 2,
 579746446: 2,
 576304858: 2,
 580199878: 2,
 533671748: 2,
 461662488: 2,
 341166356: 2,
 472133492: 2,
 486634787: 2,
 571049253: 2,
 580132134: 2,
 279430445: 2,
 302737664: 2,
 580126093: 2,
 580107578: 2,
 580170040: 2,
 323369685: 2,
 579994377: 2,
 540893910: 2,
 580164677: 2,
 439110725: 2,
 580067545: 2,
 544305028: 2,
 579930800: 2,
 580090138: 2,
 400111518: 2,
 151188116: 2,
 535982411: 2,
 579738273: 2,
 575301557: 2,
 525087939: 2,
 377965219: 2,
 551129008: 2,
 580093762: 2,
 254565638: 2,
 577230055: 2,
 542575852: 2,
 580225771: 2,
 568052004: 2,
 580170019: 2,
 527055138: 2,
 580096696: 2,
 570918269: 2,
 580163395: 2,
 580131990: 2,
 580168431: 2,
 571600331: 2,
 580146859: 2,
 579988558: 2,
 542872408: 2,
 580089495: 2,
 545613935: 2,
 579751441: 2,
 566109793: 2,
 561354343: 2,
 580050741: 2,
 527840108: 2,
 580120184: 2,
 580079296: 2,
 580060785: 2,
 558474021: 2,
 580230258: 2,
 580187612: 2,
 559701682: 2,
 580191781: 2,
 417009336: 2,
 512133915: 2,
 496357184: 2,
 545341645: 2,
 565279477: 2,
 558227649: 2,
 570756540: 2,
 443985368: 2,
 394487557: 2,
 445703657: 2,
 381655158: 2,
 580085769: 2,
 496199497: 2,
 577810725: 2,
 580154172: 2,
 580099778: 2,
 349423133: 2,
 579416896: 2,
 580115089: 2,
 529500137: 2,
 537349586: 2,
 394199949: 2,
 580078870: 2,
 490123548: 2,
 491408212: 2,
 580057730: 2,
 580140516: 2,
 567607730: 2,
 230818653: 2,
 541061747: 2,
 269810530: 2,
 432367871: 2,
 513761726: 2,
 562179269: 2,
 31926511: 2,
 580158053: 2,
 576981666: 2,
 540598494: 2,
 553999552: 2,
 528479035: 2,
 341479840: 2,
 379957899: 2,
 567704330: 2,
 580123354: 2,
 580223701: 2,
 559344368: 2,
 468500850: 2,
 580199113: 2,
 311961983: 2,
 475333301: 2,
 457888136: 2,
 579830573: 2,
 400150856: 2,
 465338762: 2,
 580086432: 2,
 468538015: 2,
 415279503: 2,
 580027037: 2,
 475349653: 2,
 580096903: 2,
 580090069: 2,
 560114824: 2,
 544176325: 2,
 572568571: 2,
 578034484: 2,
 400722420: 2,
 562482935: 2,
 577141778: 2,
 524521174: 2,
 488544718: 2,
 577355818: 2,
 537864425: 2,
 575857745: 2,
 560704079: 2,
 359415834: 2,
 573039268: 2,
 542194277: 2,
 385984912: 2,
 573921289: 2,
 580156651: 2,
 528777725: 2,
 577516052: 2,
 508697582: 2,
 574876592: 2,
 558960832: 2,
 550181798: 2,
 580162471: 2,
 576021417: 2,
 482257087: 2,
 580098630: 2,
 578888413: 2,
 564070972: 2,
 576746003: 2,
 580032681: 2,
 580129335: 2,
 580086255: 2,
 508584913: 2,
 580201000: 2,
 383662597: 2,
 580139533: 2,
 490047065: 2,
 579371061: 2,
 415186518: 2,
 580146392: 2,
 575505610: 2,
 580198738: 2,
 527245658: 2,
 550147059: 2,
 577470822: 2,
 407458156: 2,
 490317030: 2,
 530408405: 2,
 575355854: 2,
 528640395: 2,
 462478258: 2,
 526291364: 2,
 561165231: 2,
 509080471: 2,
 580221460: 2,
 512416650: 2,
 492296677: 2,
 542789197: 2,
 580159815: 2,
 580097622: 2,
 526236734: 2,
 478893200: 2,
 543240796: 2,
 570472665: 2,
 580236375: 2,
 580196636: 2,
 359425101: 2,
 580103335: 2,
 539059824: 2,
 543023426: 2,
 580077847: 2,
 545780775: 2,
 575667381: 2,
 580158097: 2,
 500520550: 2,
 580179396: 2,
 578227216: 2,
 578426237: 2,
 471399701: 2,
 580174518: 2,
 578194153: 2,
 536212661: 2,
 576877232: 2,
 526515589: 2,
 580204154: 2,
 580220290: 2,
 573846207: 2,
 580152019: 2,
 580168380: 2,
 576015024: 2,
 567397458: 2,
 580175372: 2,
 570568127: 2,
 572406505: 2,
 579001069: 2,
 580127471: 2,
 579863900: 2,
 332212892: 2,
 580055712: 2,
 580224428: 2,
 479853193: 2,
 569888229: 2,
 580101414: 2,
 571548501: 2,
 566848678: 2,
 578713622: 2,
 580182308: 2,
 580062075: 2,
 575068994: 2,
 423591395: 2,
 580136065: 2,
 238244404: 2,
 568302386: 2,
 524458361: 2,
 580093388: 2,
 544133732: 2,
 561143231: 2,
 554161590: 2,
 539891350: 2,
 566922379: 2,
 567458934: 2,
 558390967: 2,
 536176608: 2,
 361355222: 2,
 289267186: 2,
 580165267: 2,
 529039146: 2,
 478100687: 2,
 455884270: 2,
 542746425: 2,
 464848709: 2,
 580204363: 2,
 527167401: 2,
 540413788: 2,
 580140898: 2,
 541502892: 2,
 510991096: 2,
 481593229: 2,
 531017616: 2,
 579976978: 2,
 438996965: 2,
 539899399: 2,
 540488318: 2,
 577642142: 2,
 527009380: 2,
 341454412: 2,
 580103403: 2,
 372238001: 2,
 568713257: 2,
 580096161: 2,
 338927162: 2,
 564676105: 2,
 563972124: 2,
 555066254: 2,
 580216019: 2,
 561456865: 2,
 571830291: 2,
 493209113: 2,
 580103700: 2,
 580126097: 2,
 ...}

There are several different cases: a user could finish one order without interrupt, or left computer and come back only click 'purchase'(then it would be 2 session with the 2nd session only has purchase event), or come back click something and then purchase. Thus need to add sesstion times from different sessions if they are not ending with 'purchase'. If they have multiple sessions with multiple 'purchase', then seperate them as multiple orders

In [29]:
user_id=[]
order_time=[]
event=[]
total_price=[]
number=[]
log_month=[]
log_day=[]
log_hour=[]

for user,num in tqdm(order_session_dict.items()):
    if num ==1:
        user_id.append(user)
        order_time.append(list(sample_group_user[sample_group_user['user_id']==user]['time_diff'])[0])
        event.append(list(sample_group_user[sample_group_user['user_id']==user]['last_event'])[0])
        total_price.append(list(sample_group_user[sample_group_user['user_id']==user]['amount'])[0])
        number.append(list(sample_group_user[sample_group_user['user_id']==user]['rank'])[0])
        log_month.append(list(sample_group_user[sample_group_user['user_id']==user]['month'])[0])
        log_day.append(list(sample_group_user[sample_group_user['user_id']==user]['day'])[0])
        log_hour.append(list(sample_group_user[sample_group_user['user_id']==user]['hour'])[0])
    else:
        totle_time=0
        for i in range(num):
            session_time=list(sample_group_user[sample_group_user['user_id']==user]['time_diff'])[i]
            totle_time+=session_time
            user_id.append(user)
            order_time.append(totle_time)
            event.append(list(sample_group_user[sample_group_user['user_id']==user]['last_event'])[i])
            total_price.append(list(sample_group_user[sample_group_user['user_id']==user]['amount'])[i])
            number.append(list(sample_group_user[sample_group_user['user_id']==user]['rank'])[i])
            log_month.append(list(sample_group_user[sample_group_user['user_id']==user]['month'])[i])
            log_day.append(list(sample_group_user[sample_group_user['user_id']==user]['day'])[i])
            log_hour.append(list(sample_group_user[sample_group_user['user_id']==user]['hour'])[i])

HBox(children=(FloatProgress(value=0.0, max=7291.0), HTML(value='')))

In [31]:
new_df=pd.DataFrame({'user_id':user_id,'spent_time':order_time,'month':log_month,'day':log_day,'hour':log_hour,'last_event':event,'purchase_amount':total_price,'rank':number})
new_df

,user_id,spent_time,month,day,hour,last_event,purchase_amount,rank
0,527021202,0.0,12,1,11,view,0.0,205.0
1,527021202,106.0,12,1,12,view,0.0,518.0
2,527021202,106.0,12,1,12,view,0.0,470.0
3,527021202,106.0,12,1,12,view,0.0,562.0
4,527021202,106.0,12,1,11,view,0.0,318.0
...,...,...,...,...,...,...,...,...
12345,545056451,0.0,12,1,7,view,0.0,1.0
12346,531458184,0.0,12,1,10,view,0.0,1.0
12347,449362058,0.0,12,1,11,view,0.0,1.0
12348,380694667,0.0,12,1,11,view,0.0,1.0
12349,494927872,819.0,12,1,2,view,0.0,1.0

In [32]:
new_df['last_event'].value_counts()

view                10429
cart                 1149
remove_from_cart      502
purchase              270
Name: last_event, dtype: int64

In [33]:
new_df.sort_values(by=['user_id','rank'],inplace=False)

,user_id,spent_time,month,day,hour,last_event,purchase_amount,rank
5286,31926511,7.0,12,1,10,view,0.0,1.0
5287,31926511,356.0,12,1,10,view,0.0,2.0
4065,48182054,2015.0,12,1,9,view,0.0,1.0
4066,48182054,2015.0,12,1,9,view,0.0,2.0
4064,48182054,0.0,12,1,10,view,0.0,3.0
...,...,...,...,...,...,...,...,...
11415,580243638,0.0,12,1,12,view,0.0,1.0
7987,580243874,0.0,12,1,12,view,0.0,1.0
8733,580243907,0.0,12,1,12,view,0.0,1.0
8679,580244189,0.0,12,1,12,view,0.0,1.0
6490,580244225,0.0,12,1,12,view,0.0,1.0

In [34]:
new_df['sessiontime']=0

In [35]:
time = 0
for i in range(len(new_df)):
    if new_df['last_event'].iloc[i] != 'purchase':
        time += new_df['spent_time'].iloc[i]
    else:
        time += new_df['spent_time'].iloc[i]
        new_df['sessiontime'].iloc[i] = time
        time = 0

In [36]:
new_df[new_df['sessiontime']!=0]

,user_id,spent_time,month,day,hour,last_event,purchase_amount,rank,sessiontime
1184,576802932,5404.0,12,1,0,purchase,233.41,242.0,7888223.0
1660,534143009,4498.0,12,1,10,purchase,14.61,34.0,808958.0
1856,534779173,2644.0,12,1,8,purchase,54.19,37.0,629302.0
2062,470598515,2901.0,12,1,9,purchase,133.01,27.0,1857450.0
2177,509211181,9419.0,12,1,11,purchase,66.45,21.0,285911.0
...,...,...,...,...,...,...,...,...,...
12056,368287207,12448.0,12,1,7,purchase,22.21,1.0,33496.0
12084,572450208,0.0,12,1,8,purchase,21.27,1.0,2667.0
12105,579373654,1016.0,12,1,3,purchase,16.98,1.0,6911.0
12150,454947115,181.0,12,1,10,purchase,5.96,1.0,6180.0
12323,556337981,5460.0,12,1,0,purchase,48.88,1.0,62620.0

Wrote functions and put all data into it

In [30]:
def clean_columns(df):
    df['time']=pd.DataFrame(df['event_time'].str.split('UTC').str[0])
    df['time']=pd.to_datetime(df['time'],format='%Y-%m-%d %H:%M:%S',errors='ignore')

    df['month']=df['time'].dt.month
    df['day']=df['time'].dt.day
    df['hour']=df['time'].dt.hour

    df=df.drop(columns='event_time')

    df['max_time']=df['time']
    df['last_event']=df['event_type']
    df['amount']=np.where(df['last_event']=='purchase',df['price'],0)
    df['nr_product']=np.where(df['last_event']=='purchase',1,0)
    return df

In [31]:
df=clean_columns(df)
df

,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,time,month,day,hour,max_time,last_event,amount,nr_product
0,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc,2019-12-01 00:00:00,12,1,0,2019-12-01 00:00:00,remove_from_cart,0.0,0
1,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18,2019-12-01 00:00:00,12,1,0,2019-12-01 00:00:00,view,0.0,0
2,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554,2019-12-01 00:00:02,12,1,0,2019-12-01 00:00:02,cart,0.0,0
3,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4,2019-12-01 00:00:05,12,1,0,2019-12-01 00:00:05,view,0.0,0
4,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5,2019-12-01 00:00:07,12,1,0,2019-12-01 00:00:07,view,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3533281,view,5683350,1487580005671109489,NaN,masura,2.84,536812729,e4a2d47c-a956-4c46-8176-745f52ea664b,2019-12-31 23:59:39,12,31,23,2019-12-31 23:59:39,view,0.0,0
3533282,view,5888097,1487580013388628160,NaN,shik,179.05,503658154,2dde9867-9e71-4a64-880d-aa68b66aae6d,2019-12-31 23:59:46,12,31,23,2019-12-31 23:59:46,view,0.0,0
3533283,view,59975,1487580012096782476,NaN,NaN,7.14,595414541,4c6d80bb-5dd3-4fbb-b592-187b51db2753,2019-12-31 23:59:51,12,31,23,2019-12-31 23:59:51,view,0.0,0
3533284,view,5775982,1783999063314661546,NaN,NaN,11.90,397780878,7e8a2b85-153a-44eb-a71f-b748fde14fcc,2019-12-31 23:59:52,12,31,23,2019-12-31 23:59:52,view,0.0,0
3533285,view,5635090,1487580005754995573,NaN,NaN,4.44,420652863,546f6af3-a517-4752-a98b-80c4c5860711,2019-12-31 23:59:57,12,31,23,2019-12-31 23:59:57,view,0.0,0

In [32]:
def group_by(df):
    df_user=df.groupby((['user_id','user_session']),as_index=False).agg({'time':'min','max_time':'max','amount':'sum',
                                                                        'nr_product':'sum','event_type':'first',
                                                                         'month':'first','day':'first',
                                                                        'hour':'first','last_event':'last'})
    df_user['rank']=df_user['time'].groupby(df_user['user_id']).rank(ascending=1,method='dense')
    df_user['time_diff']=(pd.to_datetime(df_user['max_time'])-pd.to_datetime(df_user['time'])).apply(lambda x: x.total_seconds())
    return df_user

In [33]:
df=group_by(df)
df

,user_id,user_session,time,max_time,amount,nr_product,event_type,month,day,hour,last_event,rank,time_diff
0,1180452,a4818e6d-9069-4aa8-8731-572ac266283f,2019-12-28 14:32:56,2019-12-28 14:32:56,0.0,0,view,12,28,14,view,1.0,0.0
1,2963072,3bf2bbbb-1a32-4f06-a263-a3f49db74750,2019-12-22 12:50:22,2019-12-22 13:36:13,0.0,0,view,12,22,12,view,1.0,2751.0
2,4661182,758d0b2c-abc8-406f-b87b-b25ba05f670e,2019-12-22 19:32:12,2019-12-22 19:32:49,0.0,0,view,12,22,19,view,2.0,37.0
3,4661182,78b9e338-30d6-467c-820e-529e5dd1e184,2019-12-06 10:22:41,2019-12-06 10:22:41,0.0,0,cart,12,6,10,cart,1.0,0.0
4,4891613,538cda82-30a9-4408-9596-1098bbb195a4,2019-12-25 22:16:25,2019-12-25 22:16:25,0.0,0,view,12,25,22,view,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839860,595413843,468fcf5a-56d4-4ec2-a73e-5403256fdd22,2019-12-31 23:55:52,2019-12-31 23:55:52,0.0,0,view,12,31,23,view,1.0,0.0
839861,595413976,e29832b3-239a-491f-8fad-220fd3f1a5e8,2019-12-31 23:55:33,2019-12-31 23:55:33,0.0,0,view,12,31,23,view,1.0,0.0
839862,595414210,ebd2969c-dce1-451a-af8a-dce36c2e1687,2019-12-31 23:57:08,2019-12-31 23:57:08,0.0,0,view,12,31,23,view,1.0,0.0
839863,595414257,2d8ea6a9-102c-49be-85e3-dc631b584606,2019-12-31 23:57:48,2019-12-31 23:57:48,0.0,0,view,12,31,23,view,1.0,0.0
839864,595414541,4c6d80bb-5dd3-4fbb-b592-187b51db2753,2019-12-31 23:59:51,2019-12-31 23:59:51,0.0,0,view,12,31,23,view,1.0,0.0

In [34]:
def user_list(df):
        order_session_dict=df['user_id'].value_counts().to_dict()

        user_id=[]
        order_time=[]
        event=[]
        total_price=[]
        product=[]
        number=[]
        log_month=[]
        log_day=[]
        log_hour=[]

        for user,num in tqdm(order_session_dict.items()):
            if num ==1:
                user_id.append(user)
                order_time.append(list(df[df['user_id']==user]['time_diff'])[0])
                event.append(list(df[df['user_id']==user]['last_event'])[0])
                total_price.append(list(df[df['user_id']==user]['amount'])[0])
                product.append(list(df[df['user_id']==user]['nr_product'])[0])
                number.append(list(df[df['user_id']==user]['rank'])[0])
                log_month.append(list(df[df['user_id']==user]['month'])[0])
                log_day.append(list(df[df['user_id']==user]['day'])[0])
                log_hour.append(list(df[df['user_id']==user]['hour'])[0])
            
            
            else:
                totle_time=0
                for i in range(num):
                    session_time=list(df[df['user_id']==user]['time_diff'])[i]
                    totle_time+=session_time
                    user_id.append(user)
                    order_time.append(totle_time)
                    event.append(list(df[df['user_id']==user]['last_event'])[i])
                    total_price.append(list(df[df['user_id']==user]['amount'])[i])
                    product.append(list(df[df['user_id']==user]['nr_product'])[i])
                    number.append(list(df[df['user_id']==user]['rank'])[i])
                    log_month.append(list(df[df['user_id']==user]['month'])[i])
                    log_day.append(list(df[df['user_id']==user]['day'])[i])
                    log_hour.append(list(df[df['user_id']==user]['hour'])[i])
        
        new_df=pd.DataFrame({'user_id':user_id,'spent_time':order_time,'month':log_month,'day':log_day,'hour':log_hour,'last_event':event,'purchase_amount':total_price,'nr_product':product,'rank':number})
        
        return new_df.sort_values(by=['user_id','rank'],inplace=False)

In [35]:
user_session=user_list(df)
user_session

HBox(children=(FloatProgress(value=0.0, max=370108.0), HTML(value='')))

,user_id,spent_time,month,day,hour,last_event,purchase_amount,nr_product,rank
816439,1180452,0.0,12,28,14,view,0.0,0,1.0
823013,2963072,2751.0,12,22,12,view,0.0,0,1.0
471874,4661182,37.0,12,6,10,cart,0.0,0,1.0
471873,4661182,37.0,12,22,19,view,0.0,0,2.0
671232,4891613,0.0,12,25,22,view,0.0,0,1.0
...,...,...,...,...,...,...,...,...,...
652038,595413843,0.0,12,31,23,view,0.0,0,1.0
688165,595413976,0.0,12,31,23,view,0.0,0,1.0
714531,595414210,0.0,12,31,23,view,0.0,0,1.0
610129,595414257,0.0,12,31,23,view,0.0,0,1.0
705138,595414541,0.0,12,31,23,view,0.0,0,1.0

In [ ]:
user_session[user_session['user_id']==473613801]

In [36]:
user_session.sort_values(by=['day','user_id'],inplace=True)

In [37]:
def event_purchase(df):
    df['sessiontime']=0
    time = 0
    
    for i in tqdm(range(len(df)-1)):
        if df['user_id'].iloc[i]== df['user_id'].iloc[i+1]:
            time += df['spent_time'].iloc[i]
        else:
            time += df['spent_time'].iloc[i]
            df['sessiontime'].iloc[i] = time
            time = 0
    
    return df[df['sessiontime']!=0]

In [38]:
sessions=event_purchase(user_session)
sessions

HBox(children=(FloatProgress(value=0.0, max=839864.0), HTML(value='')))

,user_id,spent_time,month,day,hour,last_event,purchase_amount,nr_product,rank,sessiontime
379503,9794320,308.0,12,1,19,view,0.00,0,1.0,308.0
500084,31926511,356.0,12,1,10,view,0.00,0,2.0,363.0
643045,39007293,95.0,12,1,19,view,0.00,0,1.0,95.0
614510,47076222,154304.0,12,1,22,view,0.00,0,1.0,154304.0
419814,48182054,0.0,12,1,10,view,0.00,0,3.0,4030.0
...,...,...,...,...,...,...,...,...,...,...
618580,595411525,108.0,12,31,23,view,0.00,0,1.0,108.0
374356,595411904,125.0,12,31,23,view,0.00,0,4.0,465.0
713300,595412191,251.0,12,31,23,cart,0.00,0,1.0,251.0
804770,595412617,706.0,12,31,23,view,0.00,0,1.0,706.0
629757,595413503,182.0,12,31,23,purchase,10.95,1,1.0,182.0

In [39]:
sessions.sort_values(by=['day','hour'],inplace=True)

In [40]:
sessions

,user_id,spent_time,month,day,hour,last_event,purchase_amount,nr_product,rank,sessiontime
355984,234044775,2887.0,12,1,0,purchase,41.39,5,1.0,2887.0
341079,252159723,1806.0,12,1,0,view,0.00,0,2.0,3360.0
590716,259408911,154.0,12,1,0,view,0.00,0,1.0,154.0
566609,348405118,464.0,12,1,0,cart,0.00,0,1.0,464.0
424132,356011474,2923.0,12,1,0,purchase,56.91,31,1.0,2923.0
...,...,...,...,...,...,...,...,...,...,...
618580,595411525,108.0,12,31,23,view,0.00,0,1.0,108.0
374356,595411904,125.0,12,31,23,view,0.00,0,4.0,465.0
713300,595412191,251.0,12,31,23,cart,0.00,0,1.0,251.0
804770,595412617,706.0,12,31,23,view,0.00,0,1.0,706.0
629757,595413503,182.0,12,31,23,purchase,10.95,1,1.0,182.0

In [41]:
sessions.to_csv('sessions.csv')